-r requirements.txt
flake8==3.8.2
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0

# Pytest dependecies
pytest==5.4.3
py==1.8.0
more-itertools==4.0.0
pyparsing==2.0.2
six==1.11.0
attrs==18.1.0
pluggy==0.13.1
wcwidth==0.2.4
packaging==20.4
